ul.characters {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-content: center;
    grid-template-rows: auto;
    grid-row-gap: 1.5rem;
    grid-column-gap: 1.5rem;
    width: 50%;
}