#modal {
	position: absolute;
	top: 0;
	left: 0;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	width: 100vw;
	height: 100vh;

	background-color: rgba(0, 0, 0, 0.5);
}

.content {
	background-color: white;
	padding: 16px;

	min-width: 50%;
	min-height: 50%;
}

hr {
	margin: 8px 0;
}

.header {
	display: flex;
	align-items: center;
}

.header > :last-child {
	margin-left: auto;
}

.close-btn button {
	background: none;
	border: none;
	padding: 4px;
}

.close-btn {
	--size: 16px;

	position: relative;
	cursor: pointer;

	width: var(--size);
	height: var(--size);
}

.close-btn:focus,
.close-btn:focus-within {
	outline: 4px solid blue;
}

.close-btn::after,
.close-btn::before {
	content: '';

	position: absolute;
	display: block;
	width: 2px;
	height: var(--size);
	background-color: black;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(var(--rotate));
	border-radius: 4px;
}

.close-btn::after {
	--rotate: 45deg;
}

.close-btn::before {
	--rotate: -45deg;
}
