ul#pagination-container {
	display: flex;
	justify-content: center;
	gap: 0.5rem;
	list-style: none;
	padding: 0;
}

button.pagination-item {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 2.5rem;
	width: 2.5rem;
	background-color: #151515;
	color: white;
	border-radius: 0.2rem;
	font-family: sans-serif;
	font-weight: 600;
	border: 3px solid transparent;
	cursor: pointer;
	user-select: none;
}

button.pagination-item:hover {
	background-color: #2F2F2F;
}

button.pagination-item.arrow {
	background-color: #FF9900;
	color: black;
	width: 5rem;
	font-size: 2rem;
	align-items: flex-start;
}

button.pagination-item.arrow.disabled {
	background-color: #0E0E0E;
	color: #2F2F2F;
	cursor: default;
}

button.arrow:hover {
	background-color: #FF9F0E;
}

button.pagination-item.active {
	border-color: #FF9900;
}