div.character {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
}

div > img {
	width: 200px;
	height: 150px;
}

div > span {
	height: 1rem;
}